* {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow: auto;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none !important;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

p {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

a {
    color: black;
    text-decoration: none;
}

.toolbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 108px;
    z-index: 100;
    background-color: white;
    justify-content: center;
}

.toolbar .toolbar-area {
    display: flex;
    width: 1700px;
    max-width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
}

.toolbar .toolbar-area .toolbar-left {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
}

.toolbar .toolbar-area .toolbar-left a {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: black;
    text-decoration: none;
}

.toolbar .toolbar-area .toolbar-left p {
    font-weight: 700;
    color: #2A2A2A;
    font-size: 1.1rem;
}

.toolbar .toolbar-area .toolbar-left img {
    margin: 0;
    padding: 0;
    height: 36px;
    width: 36px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar .toolbar-area .toolbar-right {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
}

.toolbar .toolbar-area .toolbar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toolbar .toolbar-area .toolbar-right li {
    display: inline-block;
    padding-left: 42px;
    font-size: 0.85rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #2A2A2A;
}

.contents {
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-grow: 1;
    padding: 124px 0 0 0;
    position: absolute;
}

.contents .main-container {
    width: 1700px;
    max-width: 100%;
    margin: auto;
    padding: 0 56px;
}

.contents .main-container .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.contents .main-container .grid-container .background-image {
    height: 520px;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.contents .main-container .grid-container .award-content {
    height: 520px;
    background-color: #F9F3E4;
    position: relative;
}

.contents .main-container .grid-container .award-content .title {
    font-family: S-CoreDream-8Heavy, serif;
    font-size: 1.1rem;
    margin: 24px 32px 0 32px;
    line-height: 1.5;
}

.contents .main-container .grid-container .award-content p {
    font-family: S-CoreDream-3Light, serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 6px 32px 0 32px;
}

.more-button {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    font-size: 0.7rem;
    text-align: center;
    padding: 10px 14px;
    height: 32px;
    background-color: #0F1614;
    cursor: pointer;
    color: white;
    border-radius: 2px;
}

.more-button::after {
    content: "";
    background-image: url(../source/assets/arrow-right.svg);
    background-size: 100% 100%;
    padding: 6px;
    margin-left: 16px;
    width: 16px;
    height: 16px;

}

.separator {
    margin-top: 36px;
    margin-bottom: 36px;
    border: 0;
}

.license {
    position: relative;
    bottom: 0;
    margin-top: 36px;
    margin-bottom: 36px;
}

.license p {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media all and (min-width: 1200px) {
    .contents .main-container .grid-container {
        grid-template-columns: 1fr 24px 320px;
    }

    .license {
        position: absolute;
        margin-bottom: 56px;
    }
}